.header__lang-link {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 116.667% */
    text-decoration: none;
}

.header__lang-link:active {
    text-decoration: underline;
}

@media screen and (min-width: 1280px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px; /* 111.111% */
    }
}
