.photo-gal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin: 92px 48px 0px 48px;
}

@media screen and (max-width: 1250px) {
    .photo-gal {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 14px;
        grid-row-gap: 14px;
    }
}

@media screen and (max-width: 1000px) {
    .photo-gal {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        margin: 88px 24px 0px 24px;
    }
}

@media screen and (max-width: 762px) {
    .photo-gal {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 12px;
        margin: 64px 16px 0px 16px;
    }
}