.photo-gal__item {
    width: 100%;
    height: 213px;
    display: block;
    object-fit: cover;
}

@media screen and (max-width: 1250px) {
    .photo-gal__item {
        height: 225px;
    }
}

@media screen and (max-width: 1000px) {
    .photo-gal__item {
        height: 264px;
    }
}

@media screen and (max-width: 762px) {
    .photo-gal__item {
        height: 216px;
    }
}