@font-face {
    font-family: 'Inter';
    src: local('Inter-Regular'),
    url('./Inter-Regular.otf') format("otf"),
    url('./InterRegular.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter-Italic'),
    url('./Inter-Italic.otf') format("otf");
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter-Bold'),
    url('./Inter-Bold.otf') format("otf"),
    url('./InterBold.woff') format("woff");
    font-weight: bold;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter-BoldItalic'),
    url('./Inter-BoldItalic.otf') format("otf");
    font-style: italic;
    font-weight: bold;
}