.cover {
    margin: 10px 48px 92px 48px;
    display: flex;
}

@media screen and (max-width: 1024px) {
    .cover {
        margin: 10px 0px 92px 0px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 15px 0px 88px 0px;
    }
}

@media screen and (max-width: 600px) {
    .cover {
        margin: 13px 0px 64px 0px;
    }
}