.cover__title {
    margin: 0px auto 32px auto;
    padding-top: 245px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px; /* 105.556% */
    width: 560px;
    display: block;
    position: relative;
    z-index: 2;
    
}

@media screen and (max-width: 1024px) {
    .cover__title {
        padding-top: 195px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        padding-top: 116px;
        width: 560px;
    }
}

@media screen and (max-width: 600px) {
    .cover__title {
        margin: 0px auto 16px auto;
        padding-top: 33px;
        font-size: 32px;
        line-height: 35px; /* 109.375% */
        width: 288px;
    }
}