.place {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 984px;
    max-height: 660px;
    align-items: flex-start;
    align-content: flex-start;
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
}

@media screen and (max-width: 1200px) {
    .place {
        width: 928px;
        max-height: 640px;
        column-gap: 32px;
    }
}

@media screen and (max-width: 1020px) {
    .place {
        width: 720px;
        max-height: 581px;
        column-gap: 28px;
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 760px) {
    .place {
        width: 320px;
        max-height: 1042px;
        row-gap: 32px;
        margin-bottom: 25px;
    }
}